### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
# Import the Hereos of Pymoli purchase data from csv
pymolifile = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(pymolifile)

purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#Use the SN to count the total number of players
total_players = len(purchase_df["SN"].unique())
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, total number of puruchases, total revnue.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:

# unique_items = purchase_df["Item ID"].unique() - this appended all the unique items ; not right line of code
unique_items = len(purchase_df["Item ID"].unique())
# using the 'len' helped determine the length/count of unique items in the list


average_price = purchase_df["Price"].mean()
total_purchases = purchase_df["Purchase ID"].count()
total_revenue = purchase_df["Price"].sum()

# Create data frame summary of the above values you just obtained
summary_df = pd.DataFrame({"Number of Unique Items":[unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [total_purchases], 
                           "Total Revenue": [total_revenue]})

# Format the new data frame analysis 
summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# To calculate percentage xcoutn/totalcount * 100
# Need to calculate the total number of male/female/other genders 
# and then get the percentage of each

# First group data set by genders
grouped_genders_df = purchase_df.groupby(["Gender"])

#view the grouped genders with code below
#grouped_genders_df.head()

# Next count the total of all the unique genders grouped
# stackoverflow suggested 'nunique'
total_grouped_genders = grouped_genders_df.nunique()["SN"]
total_grouped_genders

percentage_of_players = total_grouped_genders / total_players * 100

percentage_of_players

# Create data frame summary of the above values you just discovered
demographics_df = pd.DataFrame({"Total Count":total_grouped_genders,
                           "Percentage of Players":percentage_of_players, 
                          })

demographics_df.index.name = None

demographics_df

# Format the percentage 
demographics_df.sort_values(["Total Count"]).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
purchase_count = grouped_genders_df["Purchase ID"].count()
avg_price = grouped_genders_df["Price"].mean() 
total_purchase = grouped_genders_df["Price"].sum() 

#Calculate AVG Purchase total per person by gender (that's the total unique genders)

avgtotalpurchase_person = total_purchase/total_grouped_genders

purchase_analysis_df = pd.DataFrame({"Purchase Count":purchase_count,
                                  "Avg Price":avg_price,
                                  "Total Purchase": total_purchase,
                                     "Avg Total Purchase/Person": avgtotalpurchase_person
                                 })


# Format the new data frame analysis  
purchase_analysis_df.sort_values(["Purchase Count"]).style.format({"Avg Price":"${:.2f}", "Total Purchase":"${:.2f}", "Avg Total Purchase/Person":"${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Establish bins for ages
age_bins = [0, 10, 15, 20, 25, 30, 35, 40, 45, 50]
group_names = ["<10", "15-20", "20-25", "25-30", "30-35", "35-40", "40-45", "45-50", "50+"]

# Sort the dataframe based on above information by Age Group - categorize existing players
#age_demographics_df["Age Group"] = pd.cut(purchase_df["Age"],age_bins, labels=group_names)
# the line above caused errors, not sure why it's not letting me create  a new variable assignment

purchase_df["Age Group"] = pd.cut(purchase_df["Age"],age_bins, labels=group_names)
purchase_df

grouped_age = purchase_df.groupby("Age Group")

total_age_count = grouped_age.nunique()["SN"]

percent_by_age = total_age_count/total_players * 100

age_demographics_df = pd.DataFrame({"Total Count": total_age_count, "Percentage By Age": percent_by_age})

age_demographics_df.index.name = None
                             
# Format the new data frame analysis  
age_demographics_df.style.format({"Percentage By Age":"{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# I think I can keep the above bins that I created for this section 
# without redefining them

purchase_by_age_count = grouped_age["Purchase ID"].count()

avgprice_by_age = grouped_age["Price"].mean()

totalpurchase_by_age = grouped_age["Price"].sum()

avgpurchase_perperson_byage = totalpurchase_by_age/total_age_count


# Sumamry of Purchasing Analysis Data Frame
age_demographics = pd.DataFrame({"Purchase Count": purchase_by_age_count,
                                 "Average Purchase Price": avgprice_by_age,
                                 "Total Purchase Value":totalpurchase_by_age,
                                 "Average Purchase Total per Person": avgpurchase_perperson_byage})

age_demographics.index.name = None

# Format with currency style
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below
* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
* SN, Purchase Count, Average Purchase Price, Total Purchase Value


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# Find out by SN who has spent money

money_spent = purchase_df.groupby("SN")

# Count how many times ^above has spent money
money_spent_count = money_spent["Purchase ID"].count()

# Average purchase by name calculations 
avgpurchase_byname = money_spent["Price"].mean()

# Purchase total by name calculations
totalpurchase_byname = money_spent["Price"].sum()

# Create data frame with of calculated values
top_spender_df = pd.DataFrame({"Purchase Count": money_spent_count,
                             "Average Purchase Price": avgpurchase_byname,
                             "Total Purchase Value":totalpurchase_byname})

# Sort values in decending
formatted_spenders = top_spender_df.sort_values(["Total Purchase Value"], ascending=False).head()

formatted_spenders.index.name = None

# Format with currency style
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [39]:
# Create a new list to hold the values for "Item ID", "Item Name", "Price"
pop_items = purchase_df[["Item ID", "Item Name", "Price"]]

grouped_items = pop_items.groupby(["Item ID", "Item Name"])

grouped_items.head()

pop_purchase_count = grouped_items["Price"].count()

pop_purchase_count.head()

Item ID  Item Name
0        Splinter              4
1        Crucifer              3
2        Verdict               6
3        Phantomlight          6
4        Bloodlord's Fetish    5
Name: Price, dtype: int64

In [47]:
#the below is not calculating correctly for all of the items that have been counted above
pop_purch_value = grouped_items["Price"].sum()

pop_purch_value

#providing a value of 2379.77 - FIXED the error ... was taking the overall data ingest instead of the broken down one. ugh

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                         9.78
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
5        Putrid Fan                                      16.32
6        Rusty Skull                                      7.40
7        Thorn, Satchel of Dark Souls                     9.31
8        Purgatory, Gem of Regret                        11.79
9        Thorn, Conqueror of the Corrupted               10.92
10       Sleepwalker                                      7.16
11       Brimstone                                       18.25
12       Dawne                                            6.12
13       Serenity                                         5.64
14       Possessed Core                                   5.22
15       Soul Infused Crystal                            14.80
16       Restored Bauble                                 14.20
17       Lazarus, Terror of the Earth                     6.80
18       Torchlight, Bond of Storms                       9.30
19       Pursuit, Cudgel of Necromancy                    8.16
20       Netherbane                                      16.35
21       Souleater                                        5.50
22       Amnesia                                         13.08
23       Crucifer                                         1.99
24       Warped Fetish                                   19.05
25       Hero Cane                                       26.10
26       Unholy Wand                                      2.24
27       Riddle, Tribute of Ended Dreams                  3.30
28       Flux, Destroyer of Due Diligence                 2.12
29       Chaos, Ender of the End                          9.90
                                                         ...
154      Feral Katana                                    17.60
155      War-Forged Gold Deflector                        5.05
156      Soul-Forged Steel Shortsword                     8.85
157      Spada, Etcher of Hatred                         19.20
158      Darkheart, Butcher of the Champion               4.90
159      Oathbreaker, Spellblade of Trials               21.56
160      Azurewrath                                      26.40
161      Devine                                           8.80
162      Abyssal Shard                                   13.35
163      Thunderfury Scimitar                            17.25
164      Exiled Doomblade                                11.41
165      Bone Crushing Silver Skewer                     19.44
166      Thirsty Iron Reaver                              9.21
167      Malice, Legacy of the Queen                     14.44
168      Sun Strike, Jaws of Twisted Visions              2.96
169      Interrogator, Blood Blade of the Queen           8.72
170      Shadowsteel                                     15.88
171      Scalpel                                          5.37
172      Blade of the Grave                              12.56
173      Stormfury Longsword                              9.86
174      Primitive Blade                                 13.88
175      Woeful Adamantite Claymore                      13.44
176      Relentless Iron Skewer                           5.68
177      Winterthorn, Defender of Shifting Worlds         4.16
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
180      Stormcaller                                      3.36
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 183, dtype: float64

In [49]:
pop_item_price = pop_purch_value / pop_purchase_count


#create most popular items data frame

pop_items_df = pd.DataFrame({"Purchase Count": pop_purchase_count,
                             "Item Price": pop_item_price,
                             "Total Purchase Value": pop_purch_value
                            })

pop_summary_formatted = pop_items_df.sort_values(["Purchase Count"], ascending=False).head()

#pop_summary_formatted.head()

# Format the currency
pop_summary_formatted.style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [50]:
pop_summary_formatted = pop_items_df.sort_values(["Total Purchase Value"], ascending=False).head()

#pop_summary_formatted.head()

# Format the currency
pop_summary_formatted.style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})